---
import {
  kessaiLinks,
  brandEstablishmentLinks,
  affiliateNamingLinks,
  brandLicenseLinks,
  domainNameLinks,
  nameDisplayLinks,
  brandCrownLinks,
  merchandiseLinks,
  noBrandLinks,
  doubleBrandLinks,
  oemLinks,
  productBrandLinks,
  compositeLogoLinks,
  backgroundColorLinks,
  brandLogoSpecialLinks,
} from "../../data/headerLinks2";
---

<div class="mega-menu mega-menu-sp">
  <div class="accordions">
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3 class="">审批、手续
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            kessaiLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>品牌的制定、修改和废除
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            brandEstablishmentLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>相关公司名称赋予基准
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            affiliateNamingLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>品牌许可规程
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            brandLicenseLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>域名运用基准
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            domainNameLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>名称标注
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            nameDisplayLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>以品牌冠名的名称
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            brandCrownLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>商品化权许可
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            merchandiseLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>无品牌
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            noBrandLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>双重品牌
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            doubleBrandLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>OEM供应
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            oemLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>商品品牌标注的特例
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            productBrandLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>复合标识
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            compositeLogoLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>背景色的特例
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            backgroundColorLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>品牌标识的特殊使用
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            brandLogoSpecialLinks.map((item) => (
              <li>
                <a href={item.urlZh}>{item.textZh}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
