---
import { lineUrls1, lineUrls2, lineUrls3, lineUrls4, lineUrls5, lineUrls6, lineUrls7, lineUrls8, lineUrls9, lineUrls10 ,lineUrlsCorporateGroup, lineUrlsProductService, lineUrlsAdvertising, lineUrlsDigital, lineUrlsOutsideBrand, lineUrlsOtherRules, lineUrlsLogoDownload} from "../../data/headerLinks1";

---

<div class="mega-menu js-mega-menu" id="mega-menu-01">
  <div class="close-mega-menu">
    <img src="/src/assets_2025/images/common/close.svg" alt="閉じる" />
  </div>
  <div class="mega-menu-inner">
    <div class="container">
      <h2>品牌表示指南
      </h2>
      <div class="mega-menu-contents mega-menu-contents_2col">
        <div class="mega-menu-content">
          <h3>品牌表示指南
          </h3>
          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <ul>
                {
                  lineUrls1.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

            <div class="mega-menu-content-item">
              <h4>品牌的重要性
              </h4>
              <ul>
                {
                  lineUrls2.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>

        <div class="mega-menu-content">
          <div class="mega-menu-content-item">
            <h3>品牌标注的基本原则
            </h3>
            <div class="mega-menu-content-item-linkwrapper">
              <div class="mega-menu-content-item">
                <ul>
                  {
                    lineUrls3.map((item) => (
                      <li>
                        <a href={item.urlZh}>{item.textZh}</a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mega-menu-contents ">
        <div class="mega-menu-content">
          <h3>基本要素的规则
          </h3>
          <p class="link">
            <a href={lineUrls4[0].urlZh}>{lineUrls4[0].textZh}</a>
          </p>

          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <h4>Panasonic标识
              </h4>
              <ul>
                {
                  lineUrls5.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

            <div class="mega-menu-content-item">
              <h4>Panasonic Group标识
              </h4>
              <ul>
                {
                  lineUrls6.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
              <h4>事业公司品牌
              </h4>
              <ul>
                {
                  lineUrls7.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
              <h4>Panasonic保证标注
              </h4>
              <ul>
                {
                  lineUrls8.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
              <h4>PUD字体
              </h4>
              <ul>
                {
                  lineUrls9.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
            </div>
            <div class="mega-menu-content-item">
              <div class="mega-menu-content-item">
                <h4>公司、集团名称记载
                </h4>
                <ul>
                  {
                    lineUrls10.map((item) => (
                      <li>
                        <a href={item.urlZh}>{item.textZh}</a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mega-menu-contents ">
        <div class="mega-menu-content">
          <h3>应用软件的规则
          </h3>

          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <h4>企业集团的表示
              </h4>
              <ul>
                {
                  lineUrlsCorporateGroup.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

            <div class="mega-menu-content-item">
              <h4>商品、服务相关表示
              </h4>
              <ul>
                {
                  lineUrlsProductService.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
              <h4>宣传、促销相关表示
              </h4>
              <ul>
                {
                  lineUrlsAdvertising.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
            </div>
            <div class="mega-menu-content-item">
              <div class="mega-menu-content-item">
                <h4>在数字媒体中的显示
                </h4>
                <ul>
                  {
                    lineUrlsDigital.map((item) => (
                      <li>
                        <a href={item.urlZh}>{item.textZh}</a>
                      </li>
                    ))
                  }
                </ul>
                <h4>集团外的品牌使用
                </h4>
                <ul>
                  {
                    lineUrlsOutsideBrand.map((item) => (
                      <li>
                        <a href={item.urlZh}>{item.textZh}</a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mega-menu-contents ">
        <div class="mega-menu-content">
          <h3>其他标注规则
          </h3>

          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <ul>
                {
                  lineUrlsOtherRules.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="mega-menu-contents ">
        <div class="mega-menu-content">
          <h3>标识 / 下载

          </h3>

          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <ul>
                {
                  lineUrlsLogoDownload.map((item) => (
                    <li>
                      <a href={item.urlZh}>{item.textZh}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>