---
import {
  kessaiLinks,
  brandEstablishmentLinks,
  affiliateNamingLinks,
  brandLicenseLinks,
  domainNameLinks,
  nameDisplayLinks,
  brandCrownLinks,
  merchandiseLinks,
  noBrandLinks,
  doubleBrandLinks,
  oemLinks,
  productBrandLinks,
  compositeLogoLinks,
  backgroundColorLinks,
  brandLogoSpecialLinks,
} from "../../data/headerLinks2";
---

<div class="mega-menu mega-menu-sp">
  <div class="accordions">
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3 class="">Approval Procedure
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            kessaiLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Brand Establishment, Revision, and Termination
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            brandEstablishmentLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Rules for Naming Affiliated Companies
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            affiliateNamingLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Rules for Brand License
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            brandLicenseLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Operational Standards for Domain Name
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            domainNameLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Name Expression
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            nameDisplayLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Names Including the Panasonic Brand
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            brandCrownLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Licensing of Merchandising Rights
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            merchandiseLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Goods / Services with No Brand Name
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            noBrandLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Co-Branding
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            doubleBrandLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>OEM Supply
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            oemLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Special Rules for Display on Products

        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            productBrandLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Composite Logo

        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            compositeLogoLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Special Use of Background Colors

        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            backgroundColorLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Special Use of the Brand Logo

        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            brandLogoSpecialLinks.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
