---
import {
  lineUrls1,
  lineUrls2,
  lineUrls3,
  lineUrls4,
  lineUrls5,
  lineUrls6,
  lineUrls7,
  lineUrls8,
  lineUrls9,
  lineUrls10,
  lineUrlsCorporateGroup,
  lineUrlsProductService,
  lineUrlsAdvertising,
  lineUrlsDigital,
  lineUrlsOutsideBrand,
  lineUrlsOtherRules,
  lineUrlsLogoDownload,
} from "../../data/headerLinks1";
---

<div class="mega-menu mega-menu-sp">
  <div class="accordions">
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3 class="">Brand Expression Guidelines</h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls1.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Basic Principles for Brand Display</h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls3.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>The Importance of Our Brand</h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls2.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Basic Elements
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls4.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Panasonic Logo
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls5.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Panasonic Group Logo
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls6.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Operating Company Brand
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls7.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Panasonic-endorsed Logo Indication
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls8.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>PUD Font
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls9.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>  
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Company Name Logo
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrls10.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>  
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="normal_text">
      <h2>Applications</h2>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Company Group
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrlsCorporateGroup.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>  
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Goods / Services
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrlsProductService.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>  
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Ads / Sales Promotion
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrlsAdvertising.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>  
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Digital</h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrlsDigital.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>  
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>Brand Use Outside Our Company
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrlsOutsideBrand.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>  
              </li>
            ))
          }
        </ul>
      </div>
    </div>


    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>  Other Rules
        </h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrlsOtherRules.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-header js-accordion-header">
        <h3>ロゴ/ダウンロード</h3>
      </div>
      <div class="accordion-content">
        <ul>
          {
            lineUrlsLogoDownload.map((item) => (
              <li>
                <a href={item.urlEn}>{item.textEn}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
