---
import { lineUrls1, lineUrls2, lineUrls3, lineUrls4, lineUrls5, lineUrls6, lineUrls7, lineUrls8, lineUrls9, lineUrls10 ,lineUrlsCorporateGroup, lineUrlsProductService, lineUrlsAdvertising, lineUrlsDigital, lineUrlsOutsideBrand, lineUrlsOtherRules, lineUrlsLogoDownload} from "../../data/headerLinks1";
---

<div class="mega-menu js-mega-menu" id="mega-menu-01">
  <div class="close-mega-menu">
    <img src="/src/assets_2025/images/common/close.svg" alt="閉じる" />
  </div>
  <div class="mega-menu-inner">
    <div class="container">
      <h2>Brand Expression Guidelines</h2>
      <div class="mega-menu-contents mega-menu-contents_2col">
        <div class="mega-menu-content">
          <h3>Brand Expression Guidelines</h3>
          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <ul>
                {
                  lineUrls1.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

            <div class="mega-menu-content-item">
              <h4>The Importance of Our Brand
              </h4>
              <ul>
                {
                  lineUrls2.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>

        <div class="mega-menu-content">
          <div class="mega-menu-content-item">
            <h3>Basic Principles for Brand Display
            </h3>
            <div class="mega-menu-content-item-linkwrapper">
              <div class="mega-menu-content-item">
                <ul>
                  {
                    lineUrls3.map((item) => (
                      <li>
                        <a href={item.urlEn}>{item.textEn}</a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mega-menu-contents ">
        <div class="mega-menu-content">
          <h3>Basic Elements
          </h3>
          <p class="link">
            <a href={lineUrls4[0].urlEn}>{lineUrls4[0].textEn}</a>
          </p>

          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <h4>Panasonic Logo
              </h4>
              <ul>
                {
                  lineUrls5.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

            <div class="mega-menu-content-item">
              <h4>Panasonic Group Logo</h4>
              <ul>
                {
                  lineUrls6.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
              <h4>Operating Company Brand
              </h4>
              <ul>
                {
                  lineUrls7.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
              <h4>Panasonic-endorsed Logo Indication
              </h4>
              <ul>
                {
                  lineUrls8.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
              <h4>PUD Font
              </h4>
              <ul>
                {
                  lineUrls9.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
            </div>
            <div class="mega-menu-content-item">
              <div class="mega-menu-content-item">
                <h4>Company Name Logo
                </h4>
                <ul>
                  {
                    lineUrls10.map((item) => (
                      <li>
                        <a href={item.urlEn}>{item.textEn}</a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="mega-menu-contents ">
        <div class="mega-menu-content">
          <h3>Applications
          </h3>

          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <h4>Company Group
              </h4>
              <ul>
                {
                  lineUrlsCorporateGroup.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

            <div class="mega-menu-content-item">
              <h4>Goods / Services
              </h4>
              <ul>
                {
                  lineUrlsProductService.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
              <h4>Ads / Sales Promotion
              </h4>
              <ul>
                {
                  lineUrlsAdvertising.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
            </div>
            <div class="mega-menu-content-item">
              <div class="mega-menu-content-item">
                <h4>Digital</h4>
                <ul>
                  {
                    lineUrlsDigital.map((item) => (
                      <li>
                        <a href={item.urlEn}>{item.textEn}</a>
                      </li>
                    ))
                  }
                </ul>
                <h4>Brand Use Outside Our Company
                </h4>
                <ul>
                  {
                    lineUrlsOutsideBrand.map((item) => (
                      <li>
                        <a href={item.urlEn}>{item.textEn}</a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mega-menu-contents ">
        <div class="mega-menu-content">
          <h3>Other Rules
          </h3>

          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <ul>
                {
                  lineUrlsOtherRules.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="mega-menu-contents ">
        <div class="mega-menu-content">
          <h3>Logo / Download
          </h3>

          <div class="mega-menu-content-item-linkwrapper">
            <div class="mega-menu-content-item">
              <ul>
                {
                  lineUrlsLogoDownload.map((item) => (
                    <li>
                      <a href={item.urlEn}>{item.textEn}</a>
                    </li>
                  ))
                }
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>